html, body {
  overflow-x:hidden;
  font-family: sans-serif;
  border: 0px;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

* {
  transition-timing-function: ease-in;
  transition: 0.75s;
}


.app-body {
  -webkit-transition: left 2s, background-color 2s, -webkit-transform 2s;
  transition: left 1s, background-color 2s, transform 2s;
  left: 4vw;
}
.toc .app-body {
  left: 341px;
}

.thin-shadow {
  -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
}

.recent-sectional {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  overflow: hidden;
  line-height: 24px;
  font-size: 14px;
  word-wrap: break-word;
  padding: 0px;
  margin: 0px;
  li {
    white-space: nowrap;
    list-style: none;
    margin-right: 8px;
  }
  .label {
    color: #B03436;
  }
  .recent-sectional-title a {
    color: black;
    text-decoration: none;
  }
  .recent-sectional-title a:hover {
    color: #B03436;
  }
}
